@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.account-section {
  font-family: $font-basic;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 0 15px $bg-shadow;
  padding: 1em;
  margin: 2em auto;
  width: 90%;
  max-width: 850px;
  @include flexbox(column, space-around, center, 1em);

  h2 {
    font-family: $font-heading;
    font-size: calc(0.8rem + 0.5vw);
    color: $basic-blue;
    text-align: center;
    margin-top: 1em;
  }
}

.account-container {
  padding: 1em 0;
  margin: 1em;
  @include flexbox(row, center, center, 1em, wrap);
}

.account-card {
  color: $basic-white;
  background-image: $bg-blue;
  border-radius: 15px;
  padding: 1em;
  width: 350px;
  height: 75px;
  @include flexbox(column, space-around, initial, 0.5em);
  transition: transform 150ms;

  &:hover {
    transform: scale(1.05);
  }
}

.account-card-title {
  font-size: calc(1rem + 0.5vw);
  @include flexbox(row, initial, center, 0.5em);

  h3 {
    font-size: calc(1rem + 0.5vw);
  }
}

.account-card-subtitle {
  font-size: 1em;
}

.logout-btn {
  font-size: calc(1rem + 0.5vw);
  color: black;
  background-color: transparent;
  border: 3px solid black;
  padding: 0.5em 1em;

  &:hover {
    padding-left: 1.5em;
    padding-right: 0.5em;
  }
}

@media (max-width: 800px) {

  .account-section {
    background-color: $basic-white;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    width: 100%;
    height: 100%;
    gap: 2em;

    h2 {
      font-size: 1.3rem;
      margin: 0.5em 0;
    }
  }

  .account-section {
    gap: 1em;
  }

  .account-card {
    width: 100%;
  }

  .logout-btn {
    font-size: 1.5em;
    width: 150px;
  }
}