@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.account-section {
  width: 90%;
  max-width: 850px;
}

.account-container {
  padding: 1em 0;
  margin: 1em;
  @include flexbox(row, center, center, 1em, wrap);
}

.account-card {
  color: $basic-white;
  background-image: $bg-blue;
  border-radius: 15px;
  padding: 1em;
  width: 350px;
  height: 75px;
  @include flexbox(column, space-around, initial, 0.5em);
  transition: transform 150ms;

  &:hover {
    transform: scale(1.05);
  }
}

.account-card-title {
  font-size: calc(1rem + 0.5vw);
  @include flexbox(row, initial, center, 0.5em);

  h3 {
    font-size: calc(1rem + 0.5vw);
  }
}

.account-card-subtitle {
  font-size: 1em;
}

.logout-btn {
  font-size: calc(1rem + 0.5vw);
  color: black;
  background-color: transparent;
  border: 3px solid black;
  padding: 0.5em 1em;

  &:hover {
    padding-left: 1.5em;
    padding-right: 0.5em;
  }
}

@media (max-width: 900px) {
  .account-card {
    width: 100%;
  }

  .logout-btn {
    font-size: 1.5em;
    width: 150px;
  }
}