@use "../../abstracts"as *;
@use "../../layout"as *;

.checkout-section {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 2em auto 2em auto;
  width: 1300px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: $basic-blue;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.checkout-container {
  padding: 1em;
  width: 90%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  column-gap: 1em;

  h3 {
    font-size: 1.3em;
  }
}

.checkout-items-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkout-item {
  border: 2px solid black;
  padding: 1em;
}

.checkout-method {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.method-header {
  display: flex;
  justify-content: space-between;

  a {
    color: $basic-blue;
    font-weight: bold;
  }
}

.checkout-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3 {
    opacity: 0.8;
    font-size: 1.5em;
    color: $basic-blue;
  }

  button {
    font-size: 1.3em;
    background-color: $basic-blue;
    color: $basic-white;
    padding: 0.7em 1.3em;
    margin-top: 1em;
    border: none;
  }

  button:hover {
    padding-left: 0.5em;
    padding-right: 2.1em;
  }
}

.product-container,
.ticket-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-details {
  padding: 1em;
  margin: 0.5em;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  column-gap: 0.3em;
}

.product-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.product-price {
  font-weight: bold;
}

.product-quantity {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 0.7em;

  a {
    font-weight: bold;
    color: $basic-blue;
  }
}

.quantity-input {
  font-size: 1em;
  vertical-align: middle;
  width: 15%;
  height: 20px;
  display: none;
}

.checkout-save-btn {
  display: none;
}

.editing-quantity .checkout-update-btn {
  display: none;
}

.editing-quantity .checkout-save-btn,
.editing-quantity .quantity-input {
  display: unset;
}

.product-delivery {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.delivery-option {
  display: flex;
  gap: 0.5em;
}

.delivery-date {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.checkout-summary-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.order-pricing {
  border-bottom: 2px solid black;

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }
}

.order-total {
  display: flex;
  justify-content: space-between;
}

.checkout-submit-btn-container {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-submit-btn {
  font-size: 1.5em;
  background-color: $basic-blue;
  color: $basic-white;
  padding: 0.5em;
  margin-top: 0.1em;
  border: none;
  width: 100%;
}

/** MODAL **/
.checkout-modal {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  color: $basic-blue;
  background-color: $basic-white;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0.5em;
  margin: 2em auto 2em auto;
  width: 550px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }

  h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.5em;
    color: $basic-blue;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.checkout-modal-close-btn {
  font-size: 2rem;
  font-weight: bold;
  color: $basic-blue;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 2%;
}

.checkout-modal-container {
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2em;
}

.checkout-modal-card {
  font-size: 1.2em;
  color: $basic-white;
  background-color: $basic-blue;
  padding: 15px 30px;
  margin: 0 auto;
  width: 70%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.3em;
  position: relative;
  cursor: pointer;
  transition: 150ms;

  &:hover {
    transform: scale(1.1);
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
}

.checkout-modal-default-tag {
  position: absolute;
  top: 4%;
  right: 2%;
}

/** END MODAL **/