@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.hero {
  background-image: url("/images/home/banner.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* does not scroll with page */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.hero-text {
  font-family: "ostrich_sansmedium", Arial, sans-serif;
  font-size: 13em;
  font-weight: 550;
  letter-spacing: 0.1em;
  color: $basic-white;
  text-shadow: 5px 5px 2px black;
  height: 220px;
}

.home-section {
  padding: 2.5em;

  &:nth-child(odd) {
    background-color: $basic-white;
    color: black;

    h2 {
      border-bottom: 3px solid black;
    }
  }

  &:nth-child(even) {
    background-color: $basic-blue;
    color: $basic-white;

    h2 {
      border-bottom: 3px solid $basic-white;
    }
  }

  h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: calc(2rem + 0.5vw);
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align: center;
    padding: 0 0.5em 0.3em 0.5em;
    margin: 0 auto 1em auto;
    width: fit-content;
  }

  h3 {
    font-family: "Archivo", Arial, Helvetica, sans-serif;
    font-size: calc(2rem + 0.5vw);
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
  }

  p {
    font-family: Verdana, Arial, sans-serif;
  }
}

.home-btn {
  background-color: transparent;
  font-size: calc(1rem + 0.5vw);
  padding: 0.5em 1em;

  &:after {
    font-size: 0.8em;
  }

  &:hover {
    padding-right: 1.5em;
    padding-left: 0.5em;
  }
}

.home-tour-container {
  margin: 0 auto;
  width: 75%;

  @media (min-width: 900px) {
    @include flexbox(row, center, center);
  }

  img {
    width: 100%;
    border-radius: 6px;
  }

  .home-tour-dates {
    width: 100%;
    height: 100%;
    align-self: stretch;
    @include flexbox(column, space-between, center, 0.5em);

    .home-tour-entry {
      text-transform: uppercase;
      font-family: $alert-font;
      font-size: calc(0.8rem + 0.5vw);
      font-weight: 500;
      line-height: 1.5em;
      @include flexbox(column, center, center);
    }

    button {
      color: $basic-white;
      border: 2px solid $basic-white;
    }
  }
}

.home-music-container {
  margin: 0 auto;
  width: 70%;
  max-width: 75em;

  @media (min-width: 900px) {
    @include flexbox(row);
  }

  img {
    width: 65%;
    border-radius: 6px;
  }

  .home-music-album {
    margin: 0 auto;
    width: 60%;
    align-self: stretch;
    @include flexbox(column, space-between, center);

    h3 {
      width: 70%;
      border-bottom: 2px solid black;
    }

    ol {
      font-size: calc(1.2rem + 0.5vw);
      text-transform: uppercase;
      list-style-position: inside;
      line-height: 1.5em;
    }

    button {
      color: black;
      border: 2px solid black;
    }
  }
}

.home-event-container {
  margin: 0 auto;
  width: 85%;

  @media (min-width: 900px) {
    @include flexbox(row, center, center, 2em);
  }

  img {
    width: 40%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 8px;
  }

  .home-event-info {
    font-size: calc(1rem + 0.5vw);
    width: 50%;
    height: 280px;
    line-height: 1.5em;
    @include flexbox(column, space-between);

    a {
      color: inherit;
    }
  }
}

.home-store-container {
  margin: 0 auto;
  width: 80%;

  @media (min-width: 900px) {
    @include flexbox(column, center, center, 3em);
  }

  .home-store-products-container {
    @media (min-width: 900px) {
      @include flexbox(row, center, center);
    }

    .home-store-product {
      text-align: center;
      width: 40%;

      img {
        width: 90%;
        border-radius: 10px;
      }
    }
  }

  button {
    color: black;
    border: 2px solid black;
  }
}

@media (max-width: 900px) {
  .hero {
    display: none;
  }

  .home-section {
    padding: 0;

    h2 {
      display: none;
    }

    img {
      border-radius: 0px;
    }
  }

  .home-tour-container {
    width: 100%;
    position: relative;
    @include flexbox(center, center);

    img {
      width: 100%;
    }

    .home-tour-dates {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      @include flexbox(column, safe center, center, 0.5em);
      overflow: auto;
    }

    button {
      margin: 1em 0;
    }
  }

  .home-music-container {
    width: 100%;
    position: relative;
    @include flexbox(center, center);

    img {
      width: 100%;
    }

    .home-music-album {
      color: $basic-white;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      @include flexbox(column, safe center, center, 0.5em);
      overflow: auto;

      h3 {
        border-bottom: 2px solid $basic-white;
        padding: 0 0.5em 0.3em 0.5em;
        margin: 0 auto 1em auto;
        width: fit-content;
      }

      button {
        margin: 1em 0;
        color: $basic-white;
        border: 2px solid $basic-white;
      }
    }
  }

  .home-event-container {
    width: 100%;
    position: relative;
    @include flexbox(center, center);

    img {
      width: 100%;
    }

    .home-event-info {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      @include flexbox(column, safe center, center, 1em);
      overflow: auto;

      p {
        padding: 0 1em;
        width: 80%;
      }
    }
  }

  .home-store-container {
    width: 100%;
    position: relative;

    .home-store-products-container {
      width: 100%;
      @include flexbox(row, center, center);

      .home-store-product {
        width: 100%;
        @include flexbox(center, center);

        h3 {
          display: none;
        }

        img {
          border-radius: 0px;
          width: 100%;
        }
      }
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba($basic-white, 0.7);
    }
  }
}

@media (max-width: 500px) {
  .home-tour-container {
    .home-tour-entry:not(:first-child) {
      display: none;
    }
  }

  .home-music-container {
    .home-music-album ol {
      display: none;
    }
  }

  .home-event-container {
    .home-event-info {
      overflow: hidden;

      p {
        font-size: calc(0.8rem + 0.5vw);
      }

      div {
        display: none;
      }
    }
  }
}