@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.hero {
  background-image: url("/images/home/banner.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  @include flexbox(column, center, center);
  position: relative;
}

.hero-title {
  font-family: "ostrich_sansmedium", Arial, sans-serif;
  font-size: 13em;
  font-weight: 550;
  letter-spacing: 0.1em;
  color: $basic-white;
  text-shadow: 5px 5px 2px black;
  height: 220px;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 45, 95, 0);
}

.wrapper {
  background-image: $bg-blue;
}

.home-section {
  font-family: $font-basic;
  color: $basic-white;
  padding-bottom: 30vh;
  margin: 0 auto;
  width: 100%;
}

.home-header {
  font-family: $font-heading;
  font-size: calc(2.5rem + 0.5vw);
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}

.home-subheader {
  font-family: $font-secondary;
  font-size: calc(2rem + 0.5vw);
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
}

.home-btn {
  font-size: calc(1.2rem + 0.5vw);
  background-color: transparent;
  border: 2px solid $basic-white;
  padding: 0.5em 1em;

  &:after {
    font-size: 0.8em;
  }

  &:hover {
    padding-right: 1.5em;
    padding-left: 0.5em;
  }
}

.banner-section {
  height: 100vh;
  @include flexbox(column, center, center, 0.5em);
}

.welcome-subheader {
  font-size: calc(1rem + 0.5vw);
}

.welcome-header {
  font-weight: 700;
  font-size: calc(3.2rem + 0.5vw);
  letter-spacing: 0.5em;
  color: $basic-white;
}

.home-album-container {
  margin: 0 auto;
  width: 45%;
  @include flexbox(row, center, center);
  position: relative;
}

.home-album-img {
  border-radius: 20px;
  width: 100%;
}

.home-album {
  color: $basic-white;
  background-color: $bg-shadow;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @include flexbox(column, center, center, 2em);
}

.home-album-title {
  border-bottom: 3px solid $basic-white;
  padding-bottom: 0.1em;
}

.home-album-songs {
  font-size: calc(1.2rem + 0.5vw);
  text-transform: uppercase;
  list-style-position: inside;
  line-height: 1.5em;
}

.home-album-btn {
  color: $basic-white;
  border: 2px solid $basic-white;
}

.home-tour-container {
  margin: 0 auto;
  width: 55%;
  @include flexbox(row, center, center);
  position: relative;
}

.home-tours {
  background-color: $bg-shadow-lighter;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @include flexbox(column, center, center, 2em);
}

.home-tour-img {
  border-radius: 30px;
  width: 100%;
}

.home-tour {
  text-transform: uppercase;
  font-family: $font-secondary;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 500;
  line-height: 1.5em;
  @include flexbox(column, center, center);
}

.home-tour-btn {
  color: $basic-white;
  border: 2px solid $basic-white;
}

.home-store-container {
  position: relative;
}

.home-products {
  @include flexbox(row, center, center);
}

.home-store-img {
  filter: brightness(0.5);
}

.home-store-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $basic-white;
  border-color: $basic-white;
}

.home-event-container {
  margin: 0 auto;
  width: 70%;
  @include flexbox(row, center, center);
  position: relative;
}

.home-event-img {
  border-radius: 20px;
  width: 100%;
}

.home-event-info {
  font-size: calc(1.2rem + 0.5vw);
  line-height: 1.5em;
  background-color: $bg-shadow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @include flexbox(column, center, center, 2em);
}

.home-event-desc {
  width: 80%;
}

.home-event-text {
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .hero {
    display: none;
  }

  .home-section {
    padding: 0;
  }

  .home-header:not(.welcome-header) {
    display: none;
  }

  .banner-section {
    color: $basic-blue;
    background-color: $basic-white;
    height: 500px;
    width: 100%;
  }

  .welcome-subheader {
    font-size: calc(0.8rem + 0.5vw);
  }

  .welcome-header {
    font-size: calc(2.3rem + 0.5vw);
    color: $basic-blue;
  }

  .home-album-img {
    border-radius: 0px;
  }

  .home-album-container {
    width: 100%;
  }

  .home-album {
    border-radius: 0px;
    overflow: auto;
  }

  .home-album-btn {
    font-size: calc(1.3rem + 0.5vw);
    margin: 1em 0;
  }

  .home-tour-container {
    width: 100%;
  }

  .home-tour-img {
    border-radius: 0px;
  }

  .home-tour-btn {
    margin: 1em 0;
  }

  .home-store-img {
    width: 50%;
  }

  .home-event-container {
    width: 100%;
  }

  .home-event-img {
    border-radius: 0px;
  }

  .home-event-info {
    font-size: calc(1rem + 0.5vw);
  }

  .home-event-desc {
    padding: 0 1em;
    width: 80%;
  }
}

@media (max-width: 600px) {

  .banner-section {
    height: 200px;
  }

  .welcome-header {
    font-size: 2rem;
  }

  .home-album-songs {
    display: none;
  }

  .home-tour:not(:first-child) {
    display: none;
  }

  .home-event-info {
    overflow: hidden;
  }

  .home-event-text {
    font-size: calc(0.8rem + 0.5vw);
  }

  .home-event-details {
    display: none;
  }
}