@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.hero {
  background-image: url("/images/home/banner.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* does not scroll with page */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 45, 95, 0);
  }

  .hero-text {
    font-family: "ostrich_sansmedium", Arial, sans-serif;
    font-size: 13em;
    font-weight: 550;
    letter-spacing: 0.1em;
    color: $basic-white;
    text-shadow: 5px 5px 2px black;
    height: 220px;
  }
}

.wrapper {
  background-image: $bg-blue;
}

.home-section {
  color: $basic-white;
  padding-bottom: 30vh;
  margin: 0 auto;
  width: 65%;

  h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: calc(3rem + 0.5vw);
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
  }

  h3 {
    font-family: "Archivo", Arial, Helvetica, sans-serif;
    font-size: calc(2rem + 0.5vw);
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
  }

  p {
    font-family: Verdana, Arial, sans-serif;
  }
}

.home-btn {
  font-size: calc(1.2rem + 0.5vw);
  background-color: transparent;
  border: 2px solid $basic-white;
  padding: 0.5em 1em;


  &:after {
    font-size: 0.8em;
  }

  &:hover {
    padding-right: 1.5em;
    padding-left: 0.5em;
  }
}

.banner-section {
  height: 100vh;
  @include flexbox(column, center, center, 0.5em);

  h2 {
    font-weight: 700;
    font-size: 4rem;
    vertical-align: middle;
    letter-spacing: 0.5em;
    color: $basic-white;
  }

  p {
    font-size: 1.5rem;
  }
}

.music-section {
  img {
    width: 70%;
    border-radius: 30px;
  }

  .home-album-container {
    @include flexbox(row, center, center);
    position: relative;

    .home-music-album {
      color: $basic-white;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 100%;
      @include flexbox(column, center, center, 2em);

      h3 {
        width: 40%;
        border-bottom: 2px solid $basic-white;
      }

      ol {
        font-size: calc(1.2rem + 0.5vw);
        text-transform: uppercase;
        list-style-position: inside;
        line-height: 1.5em;
      }

      button {
        color: $basic-white;
        border: 2px solid $basic-white;
      }
    }
  }
}

.tour-section {
  .home-tour-container {
    margin: 0 auto;
    width: 100%;
    @include flexbox(row, center, center);
    position: relative;

    img {
      width: 90%;
      border-radius: 30px;
    }

    .home-tours-container {
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 100%;
      @include flexbox(column, center, center, 2em);

      .home-tour-entry {
        text-transform: uppercase;
        font-family: $alert-font;
        font-size: calc(0.8rem + 0.5vw);
        font-weight: 500;
        line-height: 1.5em;
        @include flexbox(column, center, center);
      }

      button {
        color: $basic-white;
        border: 2px solid $basic-white;
      }
    }
  }
}

.store-section {
  margin: 0 auto;
  width: 100%;

  .home-store-container {
    position: relative;

    .home-store-products {
      @include flexbox(row, center, center);

      img {
        filter: brightness(0.3);
      }
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $basic-white;
      border-color: $basic-white;
    }
  }
}

.event-section {
  .home-event-container {
    @include flexbox(row, center, center);
    position: relative;

    img {
      border-radius: 30px;
      width: 100%;
    }

    .home-event-info {
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      @include flexbox(column, center, center, 2em);
      font-size: calc(1rem + 0.5vw);
      line-height: 1.5em;

      p,
      div {
        text-align: center;
        margin: 0 auto;
        width: 90%;
      }

      a {
        color: inherit;
      }
    }
  }
}

@media (max-width: 1080px) {
  .hero {
    display: none;
  }

  .home-section {
    padding: 0;

    h2 {
      display: none;
    }

    p {
      color: $basic-white;
    }

    img {
      border-radius: 0px;
    }
  }

  .banner-section {
    display: none;
  }

  .music-section {
    width: 100%;

    img {
      width: 100%;
      border-radius: 0px;
    }

    .home-album-container {
      position: relative;

      .home-music-album {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        @include flexbox(column, center, center, 0.5em);
        overflow: auto;

        h3 {
          border-bottom: 2px solid $basic-white;
          padding: 0 0.5em 0.3em 0.5em;
          margin: 0 auto 1em auto;
          width: fit-content;
        }

        button {
          margin: 1em 0;
          color: $basic-white;
          border: 2px solid $basic-white;
        }
      }
    }
  }

  .tour-section {
    width: 100%;

    .home-tour-container {
      position: relative;

      img {
        width: 100%;
        border-radius: 0px;
      }

      .home-tours-container {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        @include flexbox(column, center, center, 0.5em);

        button {
          margin: 1em 0;
        }
      }
    }
  }

  .store-section {
    .home-store-container {
      .home-store-products {
        img {
          width: 50%;
        }
      }
    }
  }

  .event-section {
    width: 100%;

    .home-event-container {

      img {
        border-radius: 0px;
        width: 100%;
      }

      .home-event-info {
        @include flexbox(column, center, center, 1em);

        p {
          padding: 0 1em;
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .music-section {
    .home-music-album ol {
      display: none;
    }
  }

  .tour-section {
    .home-tours-container {
      .home-tour-entry:not(:first-child) {
        display: none;
      }
    }
  }

  .event-section {
    .home-event-info {
      overflow: hidden;

      p {
        font-size: calc(0.8rem + 0.5vw);
      }

      div {
        display: none;
      }
    }
  }
}