@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;


.album-section {
  width: 100%;
}

.albums {
  &> :nth-child(odd) {
    background-image: $bg-blue;
    color: $basic-white;

    .album-img,
    .album-header {
      border: 2px solid $basic-white;
    }
  }

  &> :nth-child(even) {
    background-color: $basic-white;
    color: black;

    .album-img,
    .album-header {
      border: 2px solid black;
    }
  }
}

.album {
  padding: 2em;
  margin: 0 auto;
  align-self: stretch;
  @include flexbox(row, center);
}

.album-img {
  width: 100%;
  max-width: 500px;
}

.album-img-services {
  display: none;
}

.album-content {
  width: 40%;
  @include flexbox(column, $gap: 2em);
}

.album-header {
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 80%;
  @include flexbox(row, center, center);
}

.album-services {
  font-size: calc(2.5rem + 0.5vw);
  margin-left: auto;
  @include flexbox(row, center, center, $gap: 0.5em);
}

.album-title {
  font-family: $font-heading;
  font-weight: 400;
  font-size: calc(2rem + 0.5vw);
  margin-left: auto;
}

.album-songs {
  font-family: $font-secondary;
  font-size: calc(1.1rem + 0.5vw);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-left: 2.7em;
  list-style-position: inside;
}

@media (max-width: 1200px) {
  h1 {
    margin: 0.5em 0;
  }

  .albums {
    &>:nth-child(odd) {
      .album-header {
        border: none;
      }

      .album-title {
        border-bottom: 2px solid $basic-white;
      }
    }

    &>:nth-child(even) {
      .album-header {
        border: none;
      }

      .album-title {
        border-bottom: 2px solid black;
      }
    }
  }

  .album-img-container {
    @include flexbox(row, center);
    position: relative;
  }

  .album-img {
    width: 100%;
  }

  .album-img-services {
    font-size: calc(2.2rem + 0.5vw);
    color: $basic-white;
    display: unset;
    padding: 0.3em 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    @include flexbox(row, center, center, $gap: 0.5em);
  }

  .album-content {
    gap: 1em;
    width: 50%;
  }

  .album-header {
    width: 100%;
    @include flexbox(column, center, center, 0.3em);
  }

  .album-title {
    text-align: center;
    padding-bottom: 0.2em;
    margin: 0;
    width: 80%;
  }

  .album-services {
    display: none;
  }

  .album-songs {
    font-size: calc(1rem + 0.5vw);
  }
}

@media (max-width: 800px) {

  .album {
    padding: 0;
    position: relative;
  }

  .album-img-container {
    width: 100%;
  }

  .album-img {
    max-width: unset;
    border: none !important;
  }

  .album-img-services {
    font-size: calc(2.5rem + 0.5vw);
    z-index: 2;
    background-color: unset;
    position: absolute;
    bottom: 0;
    left: unset;
  }

  .album-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $basic-white;
    background-color: $bg-shadow;
  }

  .album-title {
    font-size: calc(2rem + 0.5vw);
    font-weight: 600;
    border-color: $basic-white !important;
  }

  .album-songs {
    font-size: calc(1rem + 0.5vw);
    margin-left: 2em;
    padding: 0;
  }
}