@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;


.album-section {
  width: 100%;
}

.albums {
  &> :nth-child(odd) {
    background-image: $bg-blue;
    color: $basic-white;

    .album-title {
      border: 2px solid $basic-white;
    }
  }

  &> :nth-child(even) {
    background-color: $basic-white;
    color: black;

    .album-title {
      border: 2px solid black;
    }
  }
}

.album {
  padding: 2em;
  margin: 0 auto;
  align-self: stretch;
  @include flexbox(row, center);
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.album-img-container {
  @include flexbox(row, center);
  position: relative;
}

.album-img {
  width: 100%;
  max-width: 500px;
}

.album-services {
  font-size: calc(2.2rem + 0.5vw);
  color: $basic-white;
  background-color: $bg-shadow;
  padding: 0.3em 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  @include flexbox(row, center, center, $gap: 0.5em);
}

.album-content {
  width: 40%;
  @include flexbox(column, $gap: 2em);
}

.album-title {
  font-family: $font-heading;
  font-weight: 400;
  font-size: calc(2rem + 0.5vw);
  text-align: center;
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 80%;
}

.album-songs {
  font-family: $font-secondary;
  font-size: calc(1.1rem + 0.5vw);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-left: 2.7em;
  list-style-position: inside;
}

@media (max-width: 1200px) {
  h1 {
    margin: 0.5em 0;
  }

  .albums>:nth-child(odd) {
    .album-header {
      border: none;
    }

    .album-title {
      border-bottom: 2px solid $basic-white;
    }
  }

  .albums>:nth-child(even) {
    .album-header {
      border: none;
    }

    .album-title {
      border-bottom: 2px solid black;
    }
  }

  .album-content {
    gap: 1em;
    width: 50%;
  }

  .album-title {
    font-size: calc(1.5rem + 0.5vw);
    padding-bottom: 0.2em;
    margin: 0;
    width: 80%;
    box-sizing: border-box;
  }

  .album-songs {
    font-size: calc(1rem + 0.5vw);
  }
}

@media (max-width: 900px) {
  .album {
    padding: 0;
    position: relative;
  }

  .album-img {
    max-width: unset;
  }

  .album-services {
    background-color: unset;
    z-index: 1;
  }

  .album-content {
    color: $basic-white;
    background-color: $bg-shadow;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .album-title {
    font-weight: 600;
    border-color: $basic-white !important;
    width: 100%;
  }

  .album-songs {
    font-size: calc(1rem + 0.5vw);
    margin-left: 2em;
    padding: 0;
  }
}