@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.album-section {
  padding: 2.5em;

  &:nth-child(odd) {
    background-image: $bg-blue;
    color: $basic-white;

    .album-img {
      border: 4px solid $basic-white;
    }

    .album-title {
      border-bottom: 2px solid $basic-white;
    }

    .album-services {
      border: 2px solid $basic-white;
    }
  }

  &:nth-child(even) {
    background-color: $basic-white;
    color: black;

    .album-img {
      border: 4px solid black;
    }

    .album-title {
      border-bottom: 2px solid black;
    }

    .album-services {
      border: 2px solid black;
    }
  }
}

.album-container {
  align-self: stretch;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.album-img {
  width: 70%;
}

.album-content {
  width: 90%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.album-title {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  width: 75%;
  padding: 0.3em 0 0.2em 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.7em;
}

.album-songs {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.7em;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5em;
  padding-left: 2.7em;
  list-style-position: inside;
}

.album-services {
  font-size: 3em;
  align-self: flex-end;
  padding: 0.2em 0.5em;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-videos-section {
  background-color: $basic-white;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-video-title {
  font-family: "Raleway", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin: 1em;
  text-align: center;
}

.music-video-grid {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 4em;
  row-gap: 4em;
}

.music-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 5px solid black;
}

@media (max-width: 1080px) {
  h1 {
    margin: 0.5em 0;
  }
}

@media (max-width: 600px) {
  h1 {
    display: none;
  }
}