@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.orders-section {
  font-family: $font-basic;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 0 15px $bg-shadow;
  padding: 1em;
  margin: 2em auto;
  width: 90%;
  max-width: 800px;
  @include flexbox(column, space-between, center, 1em);

  h2 {
    font-family: $font-heading;
    font-size: calc(0.8rem + 0.5vw);
    color: $basic-blue;
    text-align: center;
    margin-top: 1em;
  }
}

.orders-container {
  @include flexbox(column, space-between, center, 2em);
}

.order-container {
  border: 2px solid black;
}

.orders-empty-container {
  margin: 1em;
  text-align: center;
  @include flexbox(column, space-between, center);

  h3 {
    font-size: calc(1rem + 0.5vw);
    color: $basic-blue;
    opacity: 0.8;
  }
}

.orders-empty-btn {
  font-size: calc(1rem + 0.5vw);
  background-color: $basic-blue;
  color: $basic-white;
  padding: 0.7em 1.2em;
  margin-top: 1em;
  border: none;

  &:hover {
    padding-right: 0.4em;
    padding-left: 1.6em;
  }
}

.order-header {
  background-color: var(--basic-gray);
  @include flexbox(row, center, center, 1em);

  div {
    padding: 1em;
  }
}

.order-header-id {
  margin-left: auto;
}

.order-product-card {
  margin: 0.3em;
  height: 175px;
  @include flexbox(row, center, center, 0.5em);
  cursor: pointer;
  transition: all 150ms;

  &:hover {
    background-color: rgb(172, 171, 171);
  }
}

.order-product-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.order-product-details {
  font-size: calc(0.5rem + 0.5vw);
  line-height: 1.5em;
  margin: 1em;
}

.order-track-btn {
  font-size: calc(0.7rem + 0.5vw);
  color: $basic-white;
  background-color: $basic-blue;
  border: none;
  padding: 0.7em 1.2em;
  margin: 1em;
  margin-left: auto;

  &:hover {
    padding-left: 0.6em;
    padding-right: 1.8em;
  }
}

.orders-back-btn {
  font-size: calc(1rem + 0.5vw);
  padding: 0.7em 1.2em;

  &:hover {
    padding-right: 0.6em;
    padding-left: 1.8em;
  }
}

@media (max-width: 800px) {

  .orders-section {
    background-color: $basic-white;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    width: 100%;
    max-width: unset;
    height: 100%;
    align-items: initial;
    gap: 2em;

    h2 {
      font-size: 1.3rem;
      margin: 0.5em 0;
    }
  }

  .orders-container {
    align-items: initial;
  }

  .order-container {
    border: none;
  }

  .order-header {
    justify-content: initial;
    gap: 1em;

    div {
      padding: 0.5em;
    }
  }

  .order-header-id {
    display: none;
  }

  .order-product-card {
    color: $basic-white;
    background-color: $basic-blue;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
    justify-content: initial;
  }

  .order-product-details {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em;
  }

  .order-track-btn {
    display: none;
  }

  .orders-back-btn {
    font-size: 1.1rem;
    margin: 0 auto;
  }
}