@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.password-container {
  margin-bottom: 1em;
  width: 100%;
  @include flexbox(column, space-evenly, initial, 2em);
}

.password-form {
  margin: 0 auto;
  width: 80%;
  @include flexbox(column, space-evenly, initial, 1em);
}

.password-field {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 70%;
  @include flexbox(column);

  input {
    font-size: 1em;
    border: 2px solid $basic-blue;
    outline: none;
    padding: 0.3em;
    margin-top: 0.3em;
    transition: all 150ms;
  }
}

.password-save-container {
  @include flexbox(column, center, center, 0.5em);
}

.password-save-btn {
  font-size: 1.7em;
  color: $basic-white;
  background-color: $basic-blue;
  border: 3px solid $basic-white;
  text-align: center;
  align-self: center;
  padding: 0.5em 0;
  width: 200px;
}

@media (max-width: 900px) {
  .password-container {
    padding: 0;
  }

  .password-field {
    font-size: calc(1rem + 0.5vw);
    margin: 0 auto;
    width: 85%;
    max-width: 500px;

    input {
      font-size: 1em;
    }
  }

  .password-save-btn {
    font-size: calc(1rem + 0.5vw);
    padding: 0.7em 0;
    width: 150px;
  }
}