@use "../../abstracts"as *;
@use "../../layout"as *;

.payment-section {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 2em auto 2em auto;
  width: 600px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.payment-section h2 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.5em;
  color: $basic-blue;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.payment-container {
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2em;
}

.payment-empty-text {
  font-size: 2em;
  margin: 1em;
  align-self: center;
}

.payment-card {
  font-size: 1.2em;
  color: $basic-white;
  background-color: $basic-blue;
  padding: 15px 30px;
  margin: 0 auto;
  width: 70%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.3em;
  position: relative;
}

.payment-default-tag {
  position: absolute;
  top: 4%;
  right: 2%;
}

.payment-card h3 {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.payment-card-btn-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.payment-new-container {
  align-self: center;
  padding: 1.2em 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
  border: 2px solid black;
  cursor: pointer;
  transition: all 150ms;
}

.payment-new-container:hover {
  transform: scale(1.1);
}

.payment-new-container i {
  font-size: 2em;
}

.payment-new-btn {
  font-size: 1.7em;
  border: none;
  background-color: transparent;
}

.payment-back-container {
  color: $basic-blue;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 1em;
  width: 100%;
  height: 20%;
  border-top: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/** MODAL **/
.payment-modal {
  color: $basic-blue;
  background-color: $basic-white;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0.5em;
  width: 500px;
  height: 550px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.payment-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.payment-close-btn {
  font-size: 2rem;
  font-weight: bold;
  color: $basic-blue;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 2%;
}

.payment-modal h3 {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.payment-modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5em;
}

.payment-modal-field {
  font-size: 1.3em;
  margin-left: 1em;
  margin-bottom: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.payment-modal-field input {
  font-size: 1em;
  padding: 0.3em;
  margin-top: 0.3em;
  border: 2px solid $basic-blue;
  outline: none;
  transition: all 150ms;
}

.payment-modal-save-container {
  margin-top: 0.5em;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-modal-btn {
  font-size: 1.7em;
  color: $basic-white;
  background-color: $basic-blue;
  padding: 0.5em;
  margin: 0 auto;
  width: 50%;
  border: 3px solid $basic-white;
}

/** END MODAL **/