@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.shop-items {
  margin: 0 auto 5em auto;
  width: 90%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  row-gap: 4em;
}

.shop-item {
  font-family: $font-basic;
  width: 70%;
  @include flexbox(column, center, center);
  cursor: pointer;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.1);
  }
}

.shop-item-img {
  border-radius: 15px;
  margin-bottom: 1em;
  width: 100%;
}

.shop-item-name {
  font-size: calc(1rem + 0.5vw);
  margin-bottom: 0.3em;
}

.shop-item-price {
  font-size: calc(0.8rem + 0.5vw);
}

/** MODAL **/
.shop-modal {
  color: $basic-white;
  background-image: $bg-blue;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  max-width: 1000px;
  min-width: 600px;
  @include flexbox(row, center, center);
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}

.shop-close-btn {
  color: $basic-white;
  font-weight: bold;
  font-size: calc(1.7rem + 0.5vw);
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 12px;
}

.shop-modal-container {
  font-family: $font-basic;
  padding: 4em 1em;
  @include flexbox(row, space-evenly, $gap: 1em);
}

.shop-modal-img {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.shop-modal-details {
  font-size: calc(1rem + 0.5vw);
  width: 40%;
  @include flexbox(column, space-between, stretch);
}

.shop-modal-name {
  font-family: $font-heading;
  font-weight: 600;
}

.shop-modal-price {
  font-weight: lighter;
}

.color-container {
  @include flexbox(column, $gap: 0.3em);
  width: 40%;
}

.color-list {
  font-size: 1em;
  color: $basic-white;
  background-color: transparent;
  border: 3px solid $basic-white;
  padding: 0.2em;
  margin-left: 0.3em;
  vertical-align: middle;

  option {
    color: black;
  }
}

.size-container {
  @include flexbox(column);
  width: 100%;
}

.size-list {
  @include flexbox(row, space-between, center);
}

.size-select {
  text-align: center;
  margin-top: 0.3em;
  margin-left: 0.3em;
  width: 2.2em;
  height: 2.2em;
  cursor: pointer;
  display: grid;
  align-items: center;
  border: 4px solid transparent;

  &:has(input[type="radio"]:checked) {
    border: 4px solid $basic-white;
    border-radius: 100%;
  }

  input {
    position: absolute;
    opacity: 0;
  }
}

.quantity-container {
  @include flexbox(column, $gap: 0.3em);
  width: 30%;
}

.quantity-list {
  font-size: 1em;
  color: $basic-white;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid $basic-white;
  margin-left: 0.3em;

  &:focus {
    outline: none;
  }
}

.shop-modal-btn-container {
  align-self: center;
  width: 100%;
  @include flexbox(column, center, center, 0.3em);
}

.shop-add-btn {
  font-size: calc(1.2rem + 0.5vw);
  color: $basic-white;
  background-color: transparent;
  border: 3px solid $basic-white;
  border-radius: 10px;
  align-self: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {

  h1 {
    margin: 0.5em 0;
  }

  .shop-items {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .shop-modal {
    width: 90%;
    min-width: auto;
  }

  .shop-modal-container {
    padding-bottom: 2em;
  }

  .shop-modal-img {
    width: 60%;
  }

  .shop-modal-details {
    gap: 0.5em;
    width: 90%;
  }

  .title-container {
    width: 100%;
    @include flexbox(row, space-between);
  }

  .color-container {
    width: 50%;
    min-width: 300px;
  }

  .color-list {
    margin-left: 0;
    width: 50%;
  }

  .size-container {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
  }

  .size-select {
    border-radius: 50%;
    border: 3px solid $basic-white;

    &:has(input[type="radio"]:checked) {
      color: black;
      background-color: $basic-white;
    }
  }

  .shop-add-btn {
    width: 40%;
    min-width: 175px;
  }
}

@media (max-width: 600px) {

  .shop-items {
    margin-top: 2em;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .shop-item-name,
  .shop-item-price {
    font-size: 1.3rem;
  }

  .shop-close-btn {
    font-size: 2rem;
  }

  .shop-modal-container {
    padding: 1em 0;
    @include flexbox(column, space-evenly, center, 1em);
  }

  .shop-modal-img {
    width: 40%;
  }

  .color-container,
  .quantity-container {
    @include flexbox(row, initial, center, 0.5em);
  }

  .quantity-list {
    border: 3px solid $basic-white;
    padding: 0.3em;
  }
}