@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.signup-section {
  width: 90%;
  max-width: 600px;
}

.signup-form {
  padding: 1em;
  width: 100%;
  @include flexbox(column, space-between, $gap: 1em);
}

.signup-field {
  font-size: calc(1rem + 0.5vw);
  margin: 0 auto;
  width: 75%;
  @include flexbox(column);

  input {
    font-size: calc(0.5em + 0.5vw);
    border: 2px solid $basic-blue;
    outline: none;
    padding: 0.3em;
    margin-top: 0.3em;
    transition: all 150ms;
  }
}

.signup-btn-container {
  @include flexbox(column, center, center, 0.5em);
}

.signup-btn {
  font-size: calc(1.3rem + 0.5vw);
  color: $basic-white;
  background-color: $basic-blue;
  border: 3px solid $basic-white;
  padding: 0.5em 2em;
  margin: 0 auto;
}

.signup-login-container {
  font-size: calc(0.8rem + 0.5vw);
  color: $basic-blue;
  border-top: 2px solid black;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  @include flexbox(column, space-evenly, center, 1em);
}

.signup-login-btn {
  font-size: calc(1rem + 0.5vw);
  color: black;
  background-color: transparent;
  border: 3px solid black;
  padding: 0.5em 1em;
  max-width: 100px;

  &:hover {
    padding-left: 1.5em;
    padding-right: 0.5em;
  }
}

@media (max-width: 900px) {
  .signup-field {
    width: 85%;
    max-width: 500px;

    input {
      font-size: 1.3rem;
    }
  }

  .signup-login-container {
    border: none;
  }
}