@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.tickets-section {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  color: $basic-white;
  background-image: $bg-blue;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  margin: 2em auto 2em auto;
  width: 80%;
  max-width: 600px;
  @include flexbox(column, space-evenly, center, 1em);

  h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: calc(0.8rem + 0.5vw);
    text-align: center;
    margin-top: 1em;
  }
}

.tickets-container {
  padding: 0.2em;
  width: 100%;
  @include flexbox(column, space-evenly, initial, 1em);
}

.ticket-info-list {
  font-size: calc(1.3rem + 0.5vw);
  font-weight: 600;
  color: $basic-blue;
  background-color: $basic-white;
  list-style-type: none;
  padding: 0.5em 1em;
  margin: 0 auto;
  @include flexbox(column, space-evenly, center, 0.2em);
}

.ticket-input-container {
  @include flexbox(column, space-evenly, initial, 1em);

  .ticket-field {
    font-size: calc(1.5rem + 0.5vw);
    margin-left: 1em;
    width: 200px;
    @include flexbox(column);

    input,
    select {
      font-size: calc(1rem + 0.5vw);
      color: $basic-white;
      background-color: transparent;
      border: 2px solid $basic-white;
      padding: 0.3em;
      margin-top: 0.3em;
      outline: none;
    }
  }
}

.ticket-add-container {
  @include flexbox(column, center, center, 0.3em);

  .ticket-alert {
    font-family: $alert-font;
    font-size: calc(1em + 0.5vw);
    color: green;
    @include flexbox(row, center, center, 0.3em);
    opacity: 0;
    transition: all 200ms;
  }

  .ticket-add-btn {
    font-size: calc(1.3em + 0.5vw);
    color: $basic-white;
    background-color: transparent;
    border: 3px solid $basic-white;
    width: 40%;
    max-width: 250px;
    min-width: 175px;
  }
}

.tickets-back-container {
  background-color: white;
  padding: 2em 0;
  width: 100%;
  @include flexbox(row, center, center);

  a {
    color: black;
    background-color: transparent;
    border: 3px solid black;
  }
}

@media (max-width: 500px) {
  .tickets-section {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    width: 100%;

    h2 {
      font-size: 1.5rem;
    }

    .ticket-info-list {
      padding: 0.5em 0;
      width: 100%;
    }

    .tickets-back-container {
      padding: 2em 0;
    }
  }
}