@use "../../abstracts"as *;
@use "../../components"as *;
@use "../../layout"as *;

.tickets-section {
  color: $basic-white;
  background-image: $bg-blue;
  padding: 1em;
  width: 80%;
  max-width: 600px;
}

.account-nav {
  color: $basic-white;
}

.tickets-header {
  color: $basic-white;
}

.tickets-container {
  padding: 0.2em;
  width: 100%;
  @include flexbox(column, space-evenly, initial, 1em);
}

.ticket-info-list {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: calc(1.2rem + 0.5vw);
  color: $basic-blue;
  background-color: $basic-white;
  list-style-type: none;
  padding: 0.5em 1em;
  margin: 0 auto;
  @include flexbox(column, space-evenly, center, 0.2em);
}

.ticket-input-container {
  @include flexbox(column, space-evenly, initial, 1em);
}

.ticket-field {
  font-size: calc(1.5rem + 0.5vw);
  margin-left: 1em;
  width: 200px;
  @include flexbox(column);
}

.ticket-input {
  font-size: calc(1rem + 0.5vw);
  color: $basic-white;
  background-color: transparent;
  border: 2px solid $basic-white;
  padding: 0.3em;
  margin-top: 0.3em;
  outline: none;

  option {
    color: black;
  }
}

.ticket-add-container {
  @include flexbox(column, center, center, 0.3em);
}

.ticket-add-btn {
  font-size: calc(1.3em + 0.5vw);
  color: $basic-white;
  background-color: transparent;
  border: 3px solid $basic-white;
  width: 40%;
  max-width: 250px;
  min-width: 175px;
}


@media (max-width: 600px) {
  .tickets-section {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    width: 100%;

    h2 {
      font-size: 1.5rem;
    }
  }
}