@use "../../abstracts"as *;
@use "../../layout"as *;

.concert-section {
  padding: 50px;

  &:nth-child(odd) {
    background-color: $basic-blue;

    .concert-container {
      color: $basic-white;
    }
  }

  &:nth-child(even) {
    background-color: $basic-white;

    .concert-container {
      color: black;
    }
  }
}

.concert-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.concert-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.concert-info {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &.link {
    color: inherit;
    letter-spacing: 0.05em;
    font-weight: 600;
  }
}

.concert-seperator {
  width: 30%;
  height: 1px;
  border-top: 3px solid;
}

.map-title {
  font-family: "Raleway", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin: 1em;
  text-align: center;
}

.map-container {
  width: 70%;
  height: 700px;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.google-map {
  width: 60%;
  height: 70%;
  border: 5px solid black;
  border-radius: 10px;
}

.maps-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 6em;
}

.maps-info-body {
  font-size: 1.2em;
}

.maps-info-btn {
  font-size: 1.1em;
  color: black;
  background-color: transparent;
  border: 2px solid $basic-blue;
  padding: 5px 10px;
  transition: all 150ms;

  &:hover {
    background-color: $basic-blue;
    color: $basic-white;
  }
}

.address-form {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  input {
    font-size: 1.6em;
    border: 2px solid black;
    padding: 0.2em;
    width: 100%;
  }

  button {
    width: 180px;
    min-width: 180px;
    color: black;
    font-size: 1.7em;
    padding: 0.4em 1em;
    margin-right: 25px;
    background-color: transparent;
    border: 2px solid black;
    transition: all 200ms;
  }

  .fa-spin {
    display: none;
  }
}

.map-form-input {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.map-alert {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.map-form-btn {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}

.btn-hover {
  cursor: pointer;

  &:hover {
    color: $basic-white;
    background-color: $basic-blue;
  }
}