@use "../abstracts"as *;

@font-face {
  font-family: "ostrich_sansmedium";
  src: url("/fonts/ostrich-regular-webfont.woff2") format("woff2"),
    url("/fonts/ostrich-regular-webfont.woff") format("woff");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $basic-white;
  min-height: 100vh;
  @include flexbox(column);
}

main {
  flex: 1;
}

.lock-scroll {
  position: fixed;
  width: 100%;
}

.invalid-field {
  background-color: $error-highlight;
}

.db-alert {
  font-family: $font-secondary;
  font-size: calc(0.7rem + 0.5vw);
  font-weight: bold;
  color: $error-text;
  display: flex;
  gap: 0.3em;
  opacity: 0;
  transition: opacity 300ms;
}

.add-cart-alert {
  font-family: $font-secondary;
  font-size: calc(1rem + 0.5vw);
  color: green;
  @include flexbox(row, center, center, 0.3em);
  opacity: 0;
  transition: all 200ms;
}