@use "../abstracts"as *;

@font-face {
  font-family: "ostrich_sansmedium";
  src: url("/fonts/ostrich-regular-webfont.woff2") format("woff2"),
    url("/fonts/ostrich-regular-webfont.woff") format("woff");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $basic-white;
  min-height: 100vh;
  @include flexbox(column);
}

.lock-scroll {
  position: fixed;
  width: 100%;
}

main {
  flex: 1;
}

h1 {
  font-family: "Inter", Arial, sans-serif;
  text-transform: uppercase;
  font-size: calc(2rem + 0.5vw);
  font-weight: 500;
  letter-spacing: 0.3em;
  color: $basic-blue;
  text-align: center;
  margin: 1.5em;
}

a {
  cursor: pointer;
}

.to-top {
  font-size: 2.2rem;
  color: $basic-white;
  background: $basic-blue;
  box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.8);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 0.3em;
  @include flexbox(row, center, center);
  position: fixed;
  right: 2%;
  bottom: 3%;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;

  &:hover {
    transform: scale(1.2);
  }
}

.link {
  background: linear-gradient(currentColor 0 0) bottom left/ var(--underline-width, 0%) 0.12em no-repeat;
  display: inline-block;
  padding-bottom: 0.2em;
  text-decoration: none;
  transition: background-size 300ms;

  &:hover {
    --underline-width: 100%;
  }
}

.invalid-field {
  background-color: $error-highlight;
}

.db-alert {
  font-size: 1.2rem;
  font-weight: bold;
  color: $error-text;
  display: flex;
  gap: 0.3em;
  opacity: 0;
  transition: opacity 300ms;
}

@media (max-width: 900px) {
  h1 {
    font-size: 1.3em;
  }
}