@use "../abstracts"as *;

@font-face {
  font-family: "ostrich_sansmedium";
  src: url("/fonts/ostrich-regular-webfont.woff2") format("woff2"),
    url("/fonts/ostrich-regular-webfont.woff") format("woff");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $basic-white;
  min-height: 100vh;
  @include flexbox(column);
}

.lock-scroll {
  position: fixed;
}

main {
  flex: 1;
}

h1 {
  font-family: "Archivo", Arial, sans-serif;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 300;
  letter-spacing: 0.25em;
  margin: 0.8em;
  text-align: center;
}

a,
button {
  cursor: pointer;
}

.to-top {
  font-size: 2.2rem;
  color: $basic-white;
  background: $basic-blue;
  box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.8);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 0.3em;
  @include flexbox(row, center, center);
  position: fixed;
  right: 2%;
  bottom: 3%;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;

  &:hover {
    transform: scale(1.2);
  }
}

.link {
  background: linear-gradient(currentColor 0 0) bottom left/ var(--underline-width, 0%) 0.12em no-repeat;
  display: inline-block;
  padding-bottom: 0.2em;
  text-decoration: none;
  transition: background-size 300ms;

  &:hover {
    --underline-width: 100%;
  }
}

.invalid-field {
  background-color: $error-highlight;
}

.db-alert {
  font-size: 1.2rem;
  font-weight: bold;
  color: $error-text;
  display: flex;
  gap: 0.3em;
  opacity: 0;
  transition: opacity 300ms;
}

.forward-btn {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transition: all 200ms;

  &:after {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    @include flexbox(row, center, center);
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    transition: 200ms;
  }

  &:hover:after {
    opacity: 1;
    right: 10px;
  }
}

.back-btn {
  font-size: 1.5rem;
  color: black;
  background-color: transparent;
  padding: 0.5em 0.6em;
  margin: 0 auto;
  width: 25%;
  border: 3px solid black;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  transition: all 200ms;

  &:after {
    content: "\f30a";
    font-family: FontAwesome;
    height: 100%;
    position: absolute;
    @include flexbox(row, center, center);
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 200ms;
  }

  &:hover {
    padding-left: 1.2em;
    padding-right: 0;
  }

  &:hover:after {
    opacity: 1;
    left: 10px;
  }
}

/** MODAL **/
.alert-modal {
  font-size: calc(1.7rem + 0.5vw);
  font-family: $alert-font;
  color: $basic-blue;
  background-color: $basic-white;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1em 2em;
  @include flexbox(column, center, center);
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}

.alert-modal-container {
  width: 100%;
  height: 100%;
  @include flexbox(column, space-evenly, center, 0);
}

.alert-modal-msg {
  text-align: center;
  margin-bottom: 1.3em;
  gap: 0.3em;
}

.success-modal-msg {
  color: green;
  margin-bottom: 1.3em;
  @include flexbox(row, center, center, 0.3em);
}



.alert-modal-btn {
  font-size: calc(1.3rem + 0.5vw);
  color: black;
  background-color: transparent;
  padding: 0.7em 1.2em;
  border: 3px solid black;

  &:hover {
    padding-right: 2em;
    padding-left: 0.4em;
  }
}

/* SUCCESS MODAL BACKDROP */
.navbar-overlay,
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

/** END SUCCESS MODAL **/

@media (max-width: 900px) {
  h1 {
    font-size: 1.3em;
  }
}