@use "../abstracts"as *;

.navbar {
  background-color: $basic-blue;
  border-bottom: 3px solid black;
  padding-top: 1.5rem;
  width: 100%;
  @include flexbox(row, space-between, center, 4em);
}

.nav-links {
  margin-left: 1.5em;
  @include flexbox(row, space-evenly, center, 2em);
}

.nav-link {
  font-family: $font-navbar;
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-white;
  border-bottom: 2px solid transparent;
  margin: 0 0.3em;
}

.nav-logo {
  width: 75px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 300ms;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }
}

.nav-icons {
  font-size: calc(1.2rem + 0.5vw);
  margin-right: 1.5em;
  @include flexbox(row, space-evenly, center, 1em);
}

.nav-icon {
  color: $basic-white;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0.3em 0.5em;

  &:hover,
  &.active,
  &.is-active {
    color: $basic-blue;
    background-color: $basic-white;
  }
}

.nav-user-icon-container {
  position: relative;
}

.nav-user-dropdown {
  font-family: $font-navbar;
  font-weight: 600;
  font-size: calc(1rem + 0.5vw);
  background-color: $basic-white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  border: 2px solid black;
  position: absolute;
  top: 50px;
  right: 0;
  white-space: nowrap;
  @include flexbox(column, center);
  z-index: 99;
  visibility: hidden;

  &:after {
    content: "";
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: black;
    background: inherit;
    position: absolute;
    top: -12px;
    right: 15px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

.nav-dropdown-header {
  padding: 0.2em 0.7em;
}

.nav-dropdown-link {
  color: $basic-blue;
  padding: 0.4em 0.7em;

  &:hover,
  &.active {
    color: $basic-white;
    background-color: $basic-blue;
  }
}

.hamburger {
  background: none;
  border: none;
  margin-top: 1em;
  margin-left: 1.5em;
  width: 35px;
  display: none;
  position: relative;
  z-index: 99;
  cursor: pointer;

  .bar,
  &:after,
  &:before {
    content: "";
    background-color: black;
    margin: 8px 0;
    width: 100%;
    height: 5px;
    display: block;
    transition: all 400ms;
  }

  &.is-active {
    &:before {
      transform: rotate(-45deg) translate(-12px, 8px);
    }

    &:after {
      transform: rotate(45deg) translate(-10px, -6px);
    }

    .bar {
      opacity: 0;
    }
  }
}

.mobile-nav {
  background-color: $basic-white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 40vh;
  z-index: 98;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-200px);
  transition: all 300ms ease-out;

  &.is-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-nav-link {
  font-family: $font-navbar;
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 0.3em;
  margin: 0 auto;
  width: 100%;

  &.active {
    color: $basic-blue;
  }
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }

  .hamburger {
    display: unset;
  }
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}