@use "../abstracts"as *;

.navbar {
  background-color: $basic-blue;
  border-bottom: 3px solid black;
  padding-top: 1.5rem;
  margin: 0 auto;
  width: 100%;
  @include flexbox(row, space-between, flex-end, 4em);
}

.navbar-link-container {
  margin-left: 2em;
  @include flexbox(row, space-evenly, center, 2em);

  .navbar-logo {
    width: 75px;
    aspect-ratio: 1/1;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 150ms;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }

  .nav-link {
    font-family: $navbar-font;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $basic-white;
    margin: 0.3em;
    position: relative;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid $basic-white;
    }

    &:not(.active) {
      &::before {
        content: "";
        position: absolute;
        background-color: $basic-white;
        width: 100%;
        height: 2px;
        display: block;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transition: transform 300ms ease;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}

.navbar-icon-container {
  font-size: 2rem;
  margin-right: 2em;
  @include flexbox(row, space-evenly, center, 1em);

  a {
    color: $basic-white;
    padding: 0.3em 0.5em;
    transition: all 150ms;

    &.active {
      color: $basic-blue;
      background-color: $basic-white;
    }
  }

  a:hover {
    color: $basic-blue;
    background-color: $basic-white;
  }
}

.navbar-user-dropdown {
  font-family: $navbar-font;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: $basic-white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  border: 2px solid black;
  position: absolute;
  top: 104px;
  right: 62px;
  padding: 0.5em 1em;
  @include flexbox(column, center);
  opacity: 0;
  transition: opacity 150ms;

  a {
    color: $basic-blue;
  }

  a:hover,
  a.active {
    color: $basic-gray;
    background-color: initial;
  }
}

.hamburger {
  margin-top: 1em;
  margin-left: 1.5em;
  width: 35px;
  background: none;
  border: none;
  display: none;
  position: relative;
  z-index: 99;
  cursor: pointer;

  .bar,
  &:after,
  &:before {
    content: "";
    background-color: black;
    margin: 8px 0;
    width: 100%;
    height: 5px;
    display: block;
    transition: all 400ms;
  }

  &.is-active {
    &:before {
      transform: rotate(-45deg) translate(-12px, 8px);
    }

    &:after {
      transform: rotate(45deg) translate(-10px, -6px);
    }

    .bar {
      opacity: 0;
    }
  }
}

.mobile-nav {
  background-color: $basic-white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  min-height: 40vh;
  display: block;
  z-index: 98;
  transition: all 400ms;

  a {
    font-family: $navbar-font;
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 0.3em;
    margin: 0 auto;
    width: 100%;

    &.active {
      color: $basic-blue;
    }
  }

  &.is-active {
    right: 0;
  }
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }

  .hamburger {
    display: unset;
  }
}

@media (min-width: 900px) {
  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}