.about-section h2 {
  font-family: "Raleway", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 0.5em;
}
.about-section p {
  font-family: Verdana, Arial, sans-serif;
}

.about-band-img {
  margin: 0 auto;
  width: 50%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
.about-info {
  font-size: 1.5em;
  line-height: 1.4em;
  margin: 0 auto;
  width: 70%;
}

.about-member-container {
  margin-bottom: 100px;
}

.about-member-container h2 {
  margin-top: 1em;
}

.about-member {
  width: 55%;
  margin: 0 auto;
  padding: 1.5em;
  display: flex;
}

.about-member-img {
  width: 50%;
  object-fit: cover;
  box-shadow: 0 0 15px #252525;
  opacity: 0.8;
  cursor: pointer;
  transition: 200ms;
}
.about-member-img:hover {
  opacity: 1;
  box-shadow: 0 0 35px #252525;
}

.about-member-info {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  padding: 20px;
  width: 50%;
  opacity: 0;
}
.members-animate-on {
  animation: fadeInLeft 500ms forwards;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-35px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.members-animate-off {
  animation: fadeOutLeft 500ms forwards;
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-35px);
  }
}

.about-member-banner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-member-name {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  padding: 0.2em 0;
  width: 85%;
  border-radius: 6px;
  border: 2px solid var(--basic-blue);
}

.about-member-tag {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  width: 70%;
  padding: 0.2em;
  margin-top: -2px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.about-member-title {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin-left: auto;
}

.about-member-social {
  font-size: 1.8em;
  color: inherit;
  margin-left: auto;
  padding: 0 0.2em;
}

.about-member-quote {
  font-size: 1.5em;
  padding: 1em 1em;
}
.about-member-quote p {
  padding-bottom: 1em;
}
