.checkout-section {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 2em auto 2em auto;
  width: 1200px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.checkout-section h2 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: var(--basic-blue);
  margin-top: 1em;
  margin-bottom: 1em;
}

.checkout-container {
  padding: 1em;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1em;
}
.checkout-container h3 {
  font-size: 1.3em;
}

.checkout-items-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkout-item {
  border: 2px solid black;
  padding: 1em;
}

.checkout-method {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.method-header {
  display: flex;
  justify-content: space-between;
}
.method-header a {
  color: var(--basic-blue);
  font-weight: bold;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  column-gap: 0.3em;
}
.product-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.product-description {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.product-price {
  font-weight: bold;
}
.product-quantity {
  display: flex;
  gap: 0.7em;
}
.product-quantity a {
  font-weight: bold;
  color: var(--basic-blue);
}

.product-delivery {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
.delivery-option {
  display: flex;
  gap: 0.5em;
}
.delivery-date {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.checkout-summary-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.order-pricing {
  border-bottom: 2px solid black;
}
.order-pricing div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.order-total {
  display: flex;
  justify-content: space-between;
}

.checkout-submit-btn {
  font-size: 1.5em;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  padding: 0.5em;
  border: none;
}
