.hero {
  background-image: url("../../images/home/banner.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; /* does not scroll with page */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.hero-text {
  font-family: "ostrich_sansmedium", Arial, sans-serif;
  font-size: 13em;
  font-weight: 550;
  letter-spacing: 0.1em;
  color: var(--basic-white);
  text-shadow: 5px 5px 2px black;
  height: 220px;
}

.home-section {
  padding: 2.5em;
}
.home-section:nth-child(odd) {
  background-color: var(--basic-white);
  color: black;
}
.home-section:nth-child(even) {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.home-section h2 {
  font-family: "Raleway", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  text-align: center;
}
.home-section h3 {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
}
.home-section p {
  font-family: Verdana, Arial, sans-serif;
}

.home-btn {
  background-color: transparent;
  font-size: 1.5em;
  vertical-align: middle;
  text-align: center;
  padding: 0.5em 1em;
  border: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 200ms;
}
.home-btn:after {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 0.8em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  transition: 200ms;
}
.home-btn:hover {
  padding-right: 1.5em;
  padding-left: 0.5em;
}
.home-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.home-tour-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-tour-img {
  width: 60%;
  border-radius: 6px;
}
.home-tour-dates {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.home-tour-entry {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-tour-btn {
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
}

.home-music-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.home-music-img {
  width: 65%;
  border-radius: 6px;
}
.home-music-album {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.home-music-songs {
  font-size: 1.6em;
  line-height: 40px;
  text-transform: uppercase;
  list-style-position: inside;
}
.home-music-album h3 {
  width: 70%;
  border-bottom: 2px solid black;
}
.home-music-btn {
  color: black;
  border: 2px solid black;
}

.home-event-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.home-event-img {
  width: 40%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 8px;
}
.home-event-info {
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 280px;
  line-height: 35px;
}
.home-event-info a {
  color: inherit;
}

.home-store-container {
  width: 80%;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.home-store-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-store-img {
  width: 40%;
  text-align: center;
}
.home-store-img img {
  width: 90%;
  border-radius: 10px;
}
.home-store-btn {
  color: black;
  border: 2px solid black;
}
