.hero {
  background-image: url("../../images/home/banner.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; /* does not scroll with page */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.hero-text {
  font-family: "ostrich_sansmedium", Arial, sans-serif;
  font-size: 220px;
  font-weight: 550;
  letter-spacing: 20px;
  color: var(--basic-white);
  text-shadow: 5px 5px 2px black;
  height: 220px;
}

.content h1 {
  font-family: "Archivo", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 18px;
  margin: 70px;
  text-align: center;
}
.content h2 {
  font-family: "Raleway", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 6px;
  margin-bottom: 30px;
  text-align: center;
}

.home-section {
  padding: 50px;
}
.home-section:nth-child(2n) {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.home-section h3 {
  font-family: "Archivo";
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 38px;
  text-align: center;
}
.home-section p {
  font-family: Verdana, Arial, sans-serif;
}
.home-btn {
  background-color: transparent;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}

.home-tour-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-tour-img {
  border-radius: 6px;
}
.home-tour-dates {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.home-tour-entry {
  font-family: Verdana, Arial, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-tour-btn {
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  transition: color 200ms, background-color 200ms;
}
.home-tour-btn:hover {
  color: black;
  background-color: var(--basic-white);
}
.home-tour-btn:active {
  background-color: lightgray;
}

.home-music-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.home-music-img {
  width: 65%;
  border-radius: 6px;
}
.home-music-album {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.home-music-songs {
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
}
.home-music-album h3 {
  width: 70%;
  border-bottom: 2px solid black;
}
.home-music-btn {
  color: black;
  border: 2px solid black;
  transition: color 200ms, background-color 200ms;
}
.home-music-btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.home-music-btn:active {
  background-color: #061c35;
}

.home-event-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.home-event-img {
  width: 40%;
  border-radius: 8px;
}
.home-event-info {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 250px;
  line-height: 35px;
}
.home-event-info a {
  color: inherit;
}

.home-store-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.home-store-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-store-img {
  width: 40%;
  text-align: center;
}
.home-store-img img {
  width: 90%;
  border-radius: 10px;
}
.home-store-btn {
  color: black;
  border: 2px solid black;
  transition: color 200ms, background-color 200ms;
}
.home-store-btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.home-store-btn:active {
  background-color: #001833;
}
