$font-navbar: "Palanquin",
Arial,
sans-serif;

$font-heading: "Raleway",
Arial,
sans-serif;

$font-banner: "Inter",
Arial,
sans-serif;

$font-basic: Verdana,
Arial,
sans-serif;

$font-secondary: "Archivo",
Arial,
sans-serif;

$font-footer: "Libre Baskerville",
Arial,
sans-serif;