.navbar {
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  gap: 4em;
  border-bottom: 3px solid black;
}
.navbar-link {
  font-family: "Palanquin", Arial, sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  text-transform: uppercase;
  color: gray;
  transition: color 150ms;
}
.navbar-link:hover {
  color: black;
}
.navbar-link.active {
  color: black;
}
.navbar-logo {
  width: 180px;
  aspect-ratio: 1/1;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 200ms;
}
.navbar-logo.active {
  opacity: 1;
}
.navbar-logo:hover {
  opacity: 1;
}

.navbar-user-container {
  font-size: 2.5em;
  position: absolute;
  right: 50px;
  padding: 10px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-user-container a {
  color: black;
}

.hamburger {
  margin-top: 1em;
  margin-left: 1.5em;
  width: 35px;
  cursor: pointer;
  position: relative;
  z-index: 99;
  background: none;
  border: none;
  display: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  background-color: black;
  margin: 8px 0px;
  width: 100%;
  height: 5px;
  display: block;
  transition: all 400ms;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-12px, 8px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-10px, -6px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  min-height: 40vh;
  display: block;
  z-index: 98;
  background-color: var(--basic-white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  transition: all 400ms;

  a {
    font-family: "Palanquin", Arial, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 0.3em;
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
  }

  a.active {
    color: var(--basic-blue);
  }
}

.mobile-nav.is-active {
  right: 0;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
  .hamburger {
    display: unset;
  }
}

@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}
