@use "../abstracts"as *;

button {
  cursor: pointer;
}

.forward-btn {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
  transition: all 200ms;

  &:after {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    @include flexbox(row, center, center);
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    transition: 200ms;
  }

  &:hover:after {
    opacity: 1;
    right: 10px;
  }
}

.back-btn {
  font-size: 1.5rem;
  color: black;
  background-color: transparent;
  padding: 0.5em 0.6em;
  margin: 0 auto;
  width: 25%;
  min-width: 120px;
  border: 3px solid black;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  transition: all 200ms;

  &:after {
    content: "\f30a";
    font-family: FontAwesome;
    height: 100%;
    position: absolute;
    @include flexbox(row, center, center);
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 200ms;
  }

  &:hover {
    padding-left: 1.2em;
    padding-right: 0;
  }

  &:hover:after {
    opacity: 1;
    left: 10px;
  }
}

.add-cart-btn {
  border-radius: 10px;
  text-align: center;
  padding: 0.5em 1.2em;
  display: inline-block;
  position: relative;
  transition: all 200ms;

  &:after {
    content: "\f07a";
    font-family: "FontAwesome";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    opacity: 0;
    @include flexbox(row, center, center);
    transition: all 200ms;
  }

  &:hover {
    padding-left: 1.8em;
    padding-right: 0.6em;
  }

  &:hover:after {
    opacity: 1;
    left: 10px;
  }
}