button {
  cursor: pointer;
}

.forward-btn {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
  transition: all 200ms;
}
.forward-btn:after {
  content: "\f178";
  font-family: FontAwesome;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-wrap: initial;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  transition: 200ms;
}
.forward-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.back-btn {
  font-size: 1.5rem;
  color: black;
  background-color: transparent;
  padding: 0.5em 0.6em;
  margin: 0 auto;
  width: 25%;
  min-width: 120px;
  border: 3px solid black;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  transition: all 200ms;
}
.back-btn:after {
  content: "\f30a";
  font-family: FontAwesome;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-wrap: initial;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 200ms;
}
.back-btn:hover {
  padding-left: 1.2em;
  padding-right: 0;
}
.back-btn:hover:after {
  opacity: 1;
  left: 10px;
}

.add-cart-btn {
  border-radius: 10px;
  text-align: center;
  padding: 0.5em 1.2em;
  display: inline-block;
  position: relative;
  transition: all 200ms;
}
.add-cart-btn:after {
  content: "\f07a";
  font-family: "FontAwesome";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-wrap: initial;
  transition: all 200ms;
}
.add-cart-btn:hover {
  padding-left: 1.8em;
  padding-right: 0.6em;
}
.add-cart-btn:hover:after {
  opacity: 1;
  left: 10px;
}

h1 {
  font-family: "Inter", Arial, sans-serif;
  text-transform: uppercase;
  font-size: calc(2rem + 0.5vw);
  font-weight: 500;
  letter-spacing: 0.3em;
  color: rgb(0, 44, 95);
  text-align: center;
  margin: 1.5em;
}

.form-header {
  font-family: "Raleway", Arial, sans-serif;
  font-size: calc(0.8rem + 0.5vw);
  color: rgb(0, 44, 95);
  text-align: center;
  margin-top: 1em;
}

.modal-header {
  font-family: "Raleway", Arial, sans-serif;
  font-size: calc(0.7rem + 0.5vw);
  color: rgb(0, 44, 95);
  text-align: center;
  margin: 1em;
}

@media (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }
  .form-header {
    font-size: 1.3rem;
    margin: 0.5em 0;
  }
  .modal-header {
    font-size: 1.2rem;
  }
}
.alert-modal {
  font-size: calc(1.7rem + 0.5vw);
  font-family: "Archivo", Arial, sans-serif;
  color: rgb(0, 44, 95);
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-wrap: initial;
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}
.alert-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.alert-modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  flex-wrap: initial;
}

.alert-modal-msg {
  text-align: center;
  margin-bottom: 1.3em;
  gap: 0.3em;
}

.success-modal-msg {
  color: green;
  margin-bottom: 1.3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  flex-wrap: initial;
}

.alert-modal-btn {
  font-size: calc(1.3rem + 0.5vw);
  color: black;
  background-color: transparent;
  padding: 0.7em 1.2em;
  border: 3px solid black;
}
.alert-modal-btn:hover {
  padding-right: 2em;
  padding-left: 0.4em;
}

.mobile-nav-overlay,
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms;
}
.mobile-nav-overlay.active,
.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

@font-face {
  font-family: "ostrich_sansmedium";
  src: url("/fonts/ostrich-regular-webfont.woff2") format("woff2"), url("/fonts/ostrich-regular-webfont.woff") format("woff");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: rgb(250, 250, 250);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  flex-wrap: initial;
}

.lock-scroll {
  position: fixed;
  width: 100%;
}

main {
  flex: 1;
}

a {
  cursor: pointer;
  color: inherit;
}

.to-top {
  font-size: calc(2rem + 0.5vw);
  color: rgb(250, 250, 250);
  background: rgb(0, 44, 95);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  padding: 0.3em;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-wrap: initial;
  position: fixed;
  right: 3%;
  bottom: 2%;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.to-top:hover {
  transform: scale(1.2);
}

.link {
  background: linear-gradient(currentColor 0 0) bottom left/var(--underline-width, 0%) 0.12em no-repeat;
  display: inline-block;
  padding-bottom: 0.2em;
  text-decoration: none;
  transition: background-size 300ms;
}
.link:hover {
  --underline-width: 100%;
}

.link-special {
  position: relative;
}
.link-special.active {
  border-bottom: 2px solid rgb(250, 250, 250);
}
.link-special:not(.active)::before {
  content: "";
  position: absolute;
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 2px;
  display: block;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 300ms ease;
}
.link-special:not(.active):hover::before {
  transform: scaleX(1);
}

.icon-special {
  transition: transform 150ms linear;
}
.icon-special:hover {
  transform: scale(1.2);
}

.invalid-field {
  background-color: rgba(235, 12, 12, 0.3);
}

.db-alert {
  font-family: "Archivo", Arial, sans-serif;
  font-size: calc(0.7rem + 0.5vw);
  font-weight: bold;
  color: rgb(255, 0, 0);
  display: flex;
  gap: 0.3em;
  opacity: 0;
  transition: opacity 300ms;
}

.add-cart-alert {
  font-family: "Archivo", Arial, sans-serif;
  font-size: calc(1rem + 0.5vw);
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  flex-wrap: initial;
  opacity: 0;
  transition: all 200ms;
}

.navbar {
  background-color: rgb(0, 44, 95);
  border-bottom: 3px solid black;
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  flex-wrap: initial;
}

.nav-links {
  margin-left: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  flex-wrap: initial;
}

.nav-link {
  font-family: "Palanquin", Arial, sans-serif;
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(250, 250, 250);
  border-bottom: 2px solid transparent;
  margin: 0 0.3em;
}

.nav-logo {
  width: 75px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 300ms;
}
.nav-logo:hover {
  opacity: 1;
}
.nav-logo.active {
  opacity: 1;
}

.nav-icons {
  font-size: calc(1.2rem + 0.5vw);
  margin-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  flex-wrap: initial;
}

.nav-icon {
  color: rgb(250, 250, 250);
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0.3em 0.5em;
}
.nav-icon:hover, .nav-icon.active, .nav-icon.is-active {
  color: rgb(0, 44, 95);
  background-color: rgb(250, 250, 250);
}

.nav-user-icon-container {
  position: relative;
}

.nav-user-dropdown {
  font-family: "Palanquin", Arial, sans-serif;
  font-weight: 600;
  font-size: calc(1rem + 0.5vw);
  background-color: rgb(250, 250, 250);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  border: 2px solid black;
  position: absolute;
  top: 50px;
  right: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  gap: initial;
  flex-wrap: initial;
  z-index: 99;
  visibility: hidden;
}
.nav-user-dropdown:after {
  content: "";
  border-width: 2px 0 0 2px;
  border-style: solid;
  border-color: black;
  background: inherit;
  position: absolute;
  top: -12px;
  right: 15px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.nav-dropdown-header {
  padding: 0.2em 0.7em;
}

.nav-dropdown-link {
  color: rgb(0, 44, 95);
  padding: 0.4em 0.7em;
}
.nav-dropdown-link:hover, .nav-dropdown-link.active {
  color: rgb(250, 250, 250);
  background-color: rgb(0, 44, 95);
}

.hamburger {
  background: none;
  border: none;
  margin-top: 1em;
  margin-left: 1.5em;
  width: 35px;
  display: none;
  position: relative;
  z-index: 99;
  cursor: pointer;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  background-color: black;
  margin: 8px 0;
  width: 100%;
  height: 5px;
  display: block;
  transition: all 400ms;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-12px, 8px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-10px, -6px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 40vh;
  z-index: 98;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-200px);
  transition: all 300ms ease-out;
}
.mobile-nav.is-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.mobile-nav-link {
  font-family: "Palanquin", Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 0.3em;
  margin: 0 auto;
  width: 100%;
}
.mobile-nav-link.active {
  color: rgb(0, 44, 95);
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
  .hamburger {
    display: unset;
  }
}
@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}
footer {
  font-family: "Libre Baskerville", Arial, sans-serif;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  height: 300px;
}

.footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: initial;
  flex-wrap: initial;
}

.footer-info-container {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  flex-wrap: initial;
}

.footer-seperator {
  border: 1px solid rgb(250, 250, 250);
  height: 100%;
}

.footer-social-container {
  margin: 0 auto;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
  flex-wrap: initial;
}

.footer-text {
  font-size: calc(0.8rem + 0.5vw);
  color: rgb(250, 250, 250);
  padding-bottom: 0.3em;
}

.footer-icon {
  font-size: calc(2.2rem + 0.5vw);
  color: rgb(250, 250, 250);
}

@media (max-width: 900px) {
  .footer-info-container {
    font-size: 1rem;
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: initial;
  }
  .footer-info-container div {
    display: none;
  }
  .footer-social-container {
    margin-top: 2em;
    width: 50%;
  }
}

.account-form {
  font-family: Verdana, Arial, sans-serif;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  padding: 1em;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  flex-wrap: initial;
}

.account-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  flex-wrap: initial;
}
.account-empty-container h3 {
  font-size: calc(0.7rem + 0.5vw);
  color: rgb(0, 44, 95);
  opacity: 0.8;
}

.info-empty-text {
  font-size: calc(1.3rem + 0.5vw);
  text-align: center;
  margin: 1em;
  opacity: 0.8;
}

.info-card {
  font-size: calc(0.7rem + 0.5vw);
  color: rgb(250, 250, 250);
  background-image: linear-gradient(to left top, #031121, #031930, #001f3f, #00264f, #002c5f);
  border-radius: 8px;
  padding: 1em;
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  gap: 0.5em;
  flex-wrap: initial;
  position: relative;
}

.info-card-default-tag {
  position: absolute;
  top: 4%;
  right: 2%;
}

.info-card-btn-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: initial;
  flex-wrap: initial;
}

.info-add-container {
  font-size: calc(1rem + 0.5vw);
  border: 2px solid black;
  padding: 0.7em 1em;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
  flex-wrap: initial;
  cursor: pointer;
  transition: all 150ms;
}
.info-add-container:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .account-form {
    background-color: rgb(250, 250, 250);
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 2em !important;
    width: 100% !important;
    max-width: none !important;
    height: 100% !important;
    gap: 2em;
  }
  .info-empty-text {
    font-size: 1.3rem;
  }
  .info-card {
    font-size: 1.2em;
    gap: 0.3em;
  }
  .info-card p {
    font-size: 0.8em;
  }
  .info-card-default-tag {
    font-weight: bold;
    font-size: 0.8em;
  }
  .info-edit-btn,
  .info-remove-btn {
    color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 6px;
    padding: 0.5em 1em;
    margin-top: 0.5em;
  }
  .info-add-container {
    font-size: 1.3em;
  }
}
.password-section {
  width: 90%;
  max-width: 600px;
}

.password-form {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: initial;
  gap: 1em;
  flex-wrap: initial;
}

.password-field {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  flex-wrap: initial;
}
.password-field input {
  font-size: 1em;
  border: 2px solid rgb(0, 44, 95);
  outline: none;
  padding: 0.3em;
  margin-top: 0.3em;
  transition: all 150ms;
}

.password-save-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: initial;
}

.password-save-btn {
  font-size: 1.7em;
  color: rgb(250, 250, 250);
  background-color: rgb(0, 44, 95);
  border: 3px solid rgb(250, 250, 250);
  text-align: center;
  align-self: center;
  padding: 0.5em 0;
  width: 200px;
}

.password-back-container {
  font-size: calc(0.8rem + 0.5vw);
  color: rgb(0, 44, 95);
  border-top: 2px solid black;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  flex-wrap: initial;
}

.password-back-btn {
  font-size: calc(1rem + 0.5vw);
  color: black;
  background-color: transparent;
  border: 3px solid black;
  padding: 0.5em 1em;
  max-width: 100px;
}
.password-back-btn:hover {
  padding-left: 1.5em;
  padding-right: 0.5em;
}

@media (max-width: 900px) {
  .password-container {
    padding: 0;
  }
  .password-field {
    font-size: calc(1rem + 0.5vw);
    margin: 0 auto;
    width: 85%;
    max-width: 500px;
  }
  .password-field input {
    font-size: 1em;
  }
  .password-save-btn {
    font-size: calc(1rem + 0.5vw);
    padding: 0.7em 0;
    width: 150px;
  }
}